[user]
  name = Mina Almasry
  email = almasrymina@google.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  a = add
  ap = add -p
  s = status -sb
  co = checkout
  cof = checkout --
  br = branch
  cm = commit
  sm = submodule
  ph = push
  pl = pull
  moz-patch = format-patch -U8 -p --subject-prefix=""
[push]
  default = current
[log]
  decorate = true
  format = graph
[core]
  autocrlf = input
[sendemail]
  from = Mina Almasry <almasrymina@google.com>
  smtpserver = /usr/bin/sendgmr
