[user]
  name = Mina Almasry
  email = almasrymina@google.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[alias]
  lol = log --decorate --pretty=cite --abbrev-commit
  a = add
  ap = add -p
  s = status -sb
  co = checkout
  cof = checkout --
  br = branch
  cm = commit
  sm = submodule
  ph = push
  pl = pull
  df = diff --color-words
  sh = show --color-words
  moz-patch = format-patch -U8 -p --subject-prefix=""
[push]
  default = current
[log]
  decorate = true
  format = graph
[core]
  autocrlf = input
  editor = vim
[sendemail]
  from = Mina Almasry <almasrymina@google.com>
  smtpserver = /usr/bin/sendgmr
[credential]
  helper = cache
[rerere]
  enabled = 0
[am]
  threeWay = true
[pretty]
  mine = %C(yellow)commit %h (\"%s\") %C(red)%d%n%C(white)Author: %an <%ae>%nDate:   %ad%n%n%w(0,4,4)%B%n
  cite = %C(yellow)%h %C(white)(\"%s\") %C(red)%d
[format]
  pretty = mine
[http]
	cookiefile = /usr/local/google/home/almasrymina/.gitcookies
[url "sso://cos/"]
	insteadOf = https://cos.googlesource.com/
	insteadOf = https://cos-review.googlesource.com/
	insteadOf = http://cos.googlesource.com/
	insteadOf = http://cos-review.googlesource.com/
